.template{
    visibility:hidden;
}

.student{
    border: 2px solid black;
    list-style-type:none;
    padding:2px 7px 18px 7px
}

.button{
    float:right;
}

.created{
    background-color: black;
    color: white;
}

li{
    margin-top:8px;
}