.template{
    visibility:hidden;
}

.student{
    border: 2px solid black;
    list-style-type:none;
    padding: .75rem 1.25rem;
}

.student + .student{
    border-top:0;
}

.button{
    float:right;
    margin-bottom:0;
}

.student-name{
    float: left;
    white-space: nowrap;
    overflow-x: hidden;
    width: 5rem;
    text-overflow: ellipsis;
    width: calc(100%-195px);
}

.promoted{
    background-color: gold;
    color: white;
    border-color:black;
}

.student:first-child button.up,
.student:nth-last-child(2) button.down{
    background-color: #ddd;
    color:#eee;
    cursor:not-allowed;
}

[contenteditable]:hover{
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 2px;
}
[contenteditable]:focus{
    outline-width:5px;
}